@model TransportManagement.Models.Cancel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashbord</title>
</head>
<body>
    <div> 
        <h2>Wait For Our Admin Phone Call</h2>
        <h1> Thank You </h1>
    </div>
</body>
</html>
